<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="springAppName" source="spring.application.name" defaultValue="application" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"time":"%d{ISO8601}","level":"%p","service":"${springAppName}","traceId":"%X{traceId:-none}","msg":"%replace(%msg){'"','\\"'}"}%n</pattern>
        </encoder>
    </appender>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="OTEL" />
    </root>
</configuration>